<div class="col-md-2">
	<div class="panel panel-default" id ="list-projects">
		<div class="panel-heading">
			<h3 class="panel-title">Projects
				<a href="{{ path('new_project') }}" class="btn btn-default btn-xs">New</a>							
			</h3>
		</div>
		<div class="list-group">
			{% for project in projects %}
				<a href="{{ path('home_project', { 'slug': project.slug }) }}" class="list-group-item {% if currentProject==project.slug %} active {% endif %}">
					{{ project.name }} 
					{% if project.todo > 0 %}
						<span class="badge">{{ project.todo }}</span>
					{% endif %}
				</a>
			{% endfor %}
		</div>
	</div>
</div>
